@charset "utf-8";
/* CSS Document */
body {
margin: 0;
padding: 0;
border: 0;
width: 100%;
background-color: #4A6670;
font-family: 'Open Sans', sans-serif;
}
a {
color: #0D0221;
}
 a:hover {
color: #0D0221;
background: #A07178;
}
h1, h2, h3 {
color: #0D0221;
text-align:center;
padding: 0;
}
p {
padding: 0;
}
img {
width:100%;
}
/* Navbar */
nav {
width: full;
}
/* list in navbar */
nav ul {
list-style-type: none;
margin: 0;
overflow: hidden;
background-color: #A3C4BC;
text-align: center;
}
/* list item in navbar */
nav li {
float: left;
font-family: 'Open Sans', sans-serif;
font-size: 1.2em;
width: 20%;
line-height: 30px;
height: 40px;
border-bottom: 1px solid #393434;
}
/* hyperlinked item in navbar */
nav a {
text-decoration: none;
  color: #0D0221;
display: block;
padding: 4px;
font-weight: bold;
width: 120px;
}
/* when link is hovered/active */
nav a:hover, a:active {
background-color: #A07178;
}

nav a:hover, a:active {
text-decoration: none;
background-color: #A07178;
}
/* overall wrapper class */
#wrapper {
margin: 10px 25px 15px;
}
/* header element */
header {
height: 100px;
padding: 0 15px;
}
/* section elements */
section {
float: left;
padding: 15px;
margin: 5px;
border: solid 1px #ccc;
}
/* by section id */
#one {
width: 500px;
height: 353px;
background: #A07178;
margin: 5px 0px 0px 150px;
}
#two {
width: 500px;
height: 353px;
background: #A3C4BC;
margin: 5px 0px 0px 1px;
}
#three {
width: 500px;
height: 300px;
background: #A3C4BC;
margin: 5px 0px 0px 150px;
}
#four {
width: 500px;
height: 300px;
background: #A07178;
margin: 5px 0px 0px 0px;
}
/* footer */
footer {
clear: both;
font-size: .7em;
font-color: #0D0221;
text-align: center;
padding: 1px 1px;
}
/* media screen  */
@media screen and (max-width: 960px) {
#wrapper {
width: 100%;
}
nav a {
width: 80px;
}
}
@media screen and (max-width: 600px) {
header {
height: 50px;
padding: 0;
}
nav a {
width: 100%;
padding:0 2px;
margin:2px;
}
nav li {
font-size: 0.7em;
line-height: 20px;
height: 20px;
}
h1, h2 {
font-size: 1em;
}
.headingtext {
display: none;
}
section {
width: auto;
float: none;
}}